<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AConnectionString" connectionString="Url = http://dwinfsedinbld01.duns.uk.sopra:8080; DefaultDatabase=SessionState;" />
  </connectionStrings>
  <system.web>
    <pages></pages>
  </system.web>
</configuration>